.alert-container {
    position: fixed;
    padding: 10px;
    top: 50px;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
}

.alert {
    padding: 20px;
    opacity: 0.9;
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 5px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media(max-width: 800px) {
    .alert-container {
        padding: 0;
    }

    .alert {
        border-radius: 0;
        box-sizing: border-box;
        max-width: 100%;
        padding: 10px;
    }
}

.alert button {
    margin-left: 10px;
}

.alert.info {
    background: #18a0d4;
}

.alert.error {
    background: #f37f7f;
}

.alert.success {
    background: #18d44c;
}

.alert.warning {
    background: #e7ea1f;
}
