section {
  padding: 1.5rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-weight: 400;
  text-align: center;
}

form {
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 0.2rem;
  box-shadow: #f1efef 0px 1px 6px 1px;
  padding: 1.5rem;
  max-width: 300px;
  margin: auto;
}

form:not(:last-child) {
  margin-bottom: 1.8rem;
}

form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
}

form small {
  color: #d00202;
  display: block;
  margin-top: 0.25rem;
}

button {
  background: #825492;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 0.8rem;
  outline: none;
  -webkit-appearance: none;
}

form button {
  font-weight: 500;
  width: 100%;
}

button:hover,
button:active {
  background: #9262a3;
}

label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  padding: 0.6rem;
  margin: auto;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: #825492;
  box-shadow: #825492 0px 0px 2px 0px;
}

a {
  color: #0366d6;
  display: block;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

a:hover,
a:active {
  background: none;
  text-decoration: underline;
}
