.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    background: tomato;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px black;
    color: white;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    position: relative;
    font-size: 30vw;
    padding-top: 130%;
    width: 100%;
}

.grid.grid-3-cols .card {
    font-size: 8vw;
    padding-top: 40%;
    width: 30%;
}

.grid.grid-4-cols .card {
    font-size: 6vw;
    padding-top: 30%;
    width: 23%;
}

.grid.grid-5-cols .card {
    font-size: 3vw;
    padding-top: 20%;
    width: 15%;
}

.card > .card__content {
    /* center content */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    width: 100%;
}

.card .card__name {
    font-size: 4vmin;
    position: absolute;
    top: 0;
    width: 100%;
}

.card.active {
    box-shadow: 0px 0px 10px 2px cornflowerblue;
    background: cornflowerblue;
}
